<div class="header">
    <div class="header_inner">

        <div class="row justify-content--space-between align-items--center">

            <div class="header_left">

                <a href="{{ path('sylius_shop_homepage') }}" class="header_logo">
                    <img src="{{ asset('assets/shop/assets/images/logo-white.svg') }}" alt="Polyphoto logo" />
                </a>

            </div>

            <div class="header_center">

                <div class="header_center_top">
                    <nav class="list">
                        <a href="#">
                            <span>Lorem ipsum</span>
                        </a>
                        <a href="#">
                            <span>Lorem ipsum</span>
                        </a>
                        <a href="#">
                            <span>Lorem ipsum</span>
                        </a>
                    </nav>
                </div>

                <div class="header_center_separator"></div>

                <div class="header_center_bottom">
                    <nav class="list">
                        {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': 'Taxon/_links.html.twig'})) }}
                    </nav>
                </div>

            </div>

            <div class="header_right">

                <div class="list">
                    {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

                    {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
                    {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}

                    {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

                    {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

                    {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}

                    {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}

                    <button type="button" class="btn btn--menu-mobile"
                            data-xt-overlay='{"targets": "#overlay--menu-mobile", "classHtml": "xt-overlay xt-overlay--right"}'>
                        <span><span class="icon-menu"></span></span>
                    </button>
                </div>

            </div>

        </div>

        {{ sonata_block_render_event('sylius.shop.layout.header') }}

    </div>
</div>

<div class="overlay overlay-position overlay-position--right" id="overlay--menu-mobile">
    <div class="overlay-container">
        <div class="overlay-inner">

            <div class="card card--overlay">
                <div class="card-design"></div>
                <div class="card-inner">
                    <div class="btn btn-close" aria-label="Close"></div>
                    <div class="card-content">
                        <div class="card-block card-item">

                            <div class="overlay--menu-mobile_top">
                                <nav class="list">
                                    {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': 'Taxon/_links.html.twig'})) }}
                                </nav>
                            </div>

                            <div class="overlay--menu-mobile_bottom">
                                <nav class="list">
                                    <a href="#">
                                        <span>Lorem ipsum</span>
                                    </a>
                                    <a href="#">
                                        <span>Lorem ipsum</span>
                                    </a>
                                    <a href="#">
                                        <span>Lorem ipsum</span>
                                    </a>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
