<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Xtend Sylius Theme{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% block metatags %}
    {% endblock %}

    <link rel="icon" href="{{ asset('assets/shop/assets/images/favicon.ico') }}">

    {% block stylesheets %}
        {% include '_stylesheets.html.twig' with {'path': 'assets/shop/assets/fonts/icons/style.css'} %}
        {% include '_stylesheets.html.twig' with {'path': 'assets/shop/assets/theme.min.css'} %}
        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body>
    {{ sonata_block_render_event('sylius.shop.layout.before_body') }}

    <div class="site_wrapper">

        {% block top %}
        {% endblock %}

        {% block header %}
            <header>
                <header class="site_header">
                    {% include '@SyliusShop/_header.html.twig' %}
                </header>
                {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
            </header>
        {% endblock %}

        {% include '@SyliusShop/_flashes.html.twig' %}

        <div class="site_content">

            <main class="site_main" id="main">
                {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

                {% block content %}
                {% endblock %}

                {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
            </main>

            {% block footer %}
                {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

                <footer class="site_footer">
                    {% include '@SyliusShop/_footer.html.twig' %}
                </footer>

                {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
            {% endblock %}

        </div>

    </div>

    {% block javascripts %}
        {% include '_javascripts.html.twig' with {'path': 'assets/shop/assets/theme.min.js'} %}
        {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.after_body') }}
</body>
</html>
